<form action="create" method="post">
	Player: <input type="text" name="Player_1"><br>
	Version: <input type="text" name="tabletop_version"><br>
	Max Players: <input type="text" name="tabletop_max_players"><br>

	Player: <input type="text" name="tabletop_name"><br>
	Version: <input type="text" name="tabletop_version"><br>
	Max Players: <input type="text" name="tabletop_max_players"><br>

	Player: <input type="text" name="tabletop_name"><br>
	Version: <input type="text" name="tabletop_version"><br>
	Max Players: <input type="text" name="tabletop_max_players"><br>

	Player: <input type="text" name="tabletop_name"><br>
	Version: <input type="text" name="tabletop_version"><br>
	Max Players: <input type="text" name="tabletop_max_players"><br>

	Player: <input type="text" name="tabletop_name"><br>
	Version: <input type="text" name="tabletop_version"><br>
	Max Players: <input type="text" name="tabletop_max_players"><br>

	Player: <input type="text" name="tabletop_name"><br>
	Version: <input type="text" name="tabletop_version"><br>
	Max Players: <input type="text" name="tabletop_max_players"><br>

	Player: <input type="text" name="tabletop_name"><br>
	Version: <input type="text" name="tabletop_version"><br>
	Max Players: <input type="text" name="tabletop_max_players"><br>

	Player: <input type="text" name="tabletop_name"><br>
	Version: <input type="text" name="tabletop_version"><br>
	Max Players: <input type="text" name="tabletop_max_players"><br>

	<!-- Pro: <input type="submit" name="pro"><br> -->
	<input type="submit" name="" value="Create">
</form>