<div style="text-align:justify;padding-top: 2rem;">
	<p style="float:left"><img src="/images/LogoMakr_3qeKYo.jpg"/></p>
	<div class="boxed"	style="padding-top: 2rem;  padding-left: 40rem;text-align:justify">

	<%if current_user %>

	  <h1 style="font-family:stencil">Dashboard for <%= current_user.user_name %></h1>
		<p style="font-family:times;">Blah blah blah signed in stuff.</p>
	<%else%>
		<h1> Please Sign in to View Dashboard</h1>
	<%end%>
</div>
</div>
