
<div class="jumbotron" style="background-image:url('/images/LogoMakr_3qeKYo.jpg'); background-repeat: no-repeat;text-align:right;height: 450px" >
	<%if current_user %>
		<h1 style="font-family:stencil;">Dashboard for <%= current_user.user_name %></h1>

		<p>Blah blah blah signed in stuff.</p>
	<%else%>
		<h1> Please Sign in to View Dashboard</h1>
	<%end%>
</div>
