<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Tabletop Session Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tabletop_display">Tabletop</a>
        </li>
        <% if current_user.administrator %>
          <li class="nav-item">
          <a class="nav-link" href="/tabletop/new">Add Tabletop</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% else %>
        <li class="nav-item">
        <!--  On click, would not load sign_up.erb -->
        <!--  <a class="nav-link" href="/sign_up" data-toggle="modal" data-target="#basicModal">Sign Up/Sign In</a> -->
        <a class="nav-link" href="/sign_up">Sign Up or Sign In</a>
        </li>
      <% end %>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>


</nav>
