<div class="jumbotron" style="background-image:url('/images/LogoMakr_3qeKYo.jpg'); background-repeat: no-repeat;text-align:right;height: 450px" >
	<% @sessions.each do |session| %>
		<!-- Display every session game the user has -->
		<form action="/monopoly_original_session_form" method="post">
			Session_<%=session.id %>
			<button type="submit" name="Session" value=<%=session.session_user_id %>>Access</button>
		</form>
		<!-- Display .png of tabletop game -->
	<% end %>
</div>
