<div class = "container">
	<% @sessions.each do |session| %>
		<!-- Display every session game the user has -->
		<form action="/monopoly_original_session_form" method="post">
			Session_<%=session.id %>
			<button type="submit" name="Session" value=<%=session.session_user_id %>>Access</button>
		</form>
		<!-- Display .png of tabletop game -->
	<% end %>
</div>
