<form action="/charge" method="post" class="payment">
    <article>
      <label class="amount">
        <span>Amount: $4.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="A month's subscription"
            data-amount="400"
            data-locale="auto"></script>
</form>