<div class = "container">
	<% @players.each do |player| %>
		<h>Player:<%=player.player_name %><br></h>
		<% @properties_for_session.each do |property| %>
			<% property.each do |property_1| %>
				<% if player.id == property_1.player_id %>
					<%=property_1.monopoly_property_name %><br>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>
