<style type="text/css">
	.horizontal {
	  display:inline-block;
		width: 20%;
		vertical-align: top;
	}
</style>

<div style="padding-top: 3rem;padding-left: 3rem;padding-bottom: 3rem" id="cont">
	<% @players.each do |player| %>
	<div class="horizontal"	style=" text-align:center;border: 5px solid red;">

			<h2 style="font-family:times;color:red;text-align:center">  Player: <%=player.player_name %></h2>
			<h3 style="font-family:times;color:green;text-align:center">Money: $<%=player.current_money %></h3>
			<% @properties_for_session.each do |property| %>
				<% property.each do |property_1| %>
					<% if player.id == property_1.player_id %>
							<h5 style="font-family:times;color:black"><%=property_1.monopoly_property_name %></h5>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<% end %>
