	<% @players.each do |player| %>
		<h2 style="font-family:times;color:red;">Player: <%=player.player_name %></h2>
		<h4 style="font-family:times;color:black">Money: <%=player.current_money %></h4>
		<% @properties_for_session.each do |property| %>
			<% property.each do |property_1| %>
				<% if player.id == property_1.player_id %>
						<p style="font-family:times;color:black"><%=property_1.monopoly_property_name %></p>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

