<!-- the loop is used to display the correct amount of desired players
	 furthermore, it uses instance variables to change the names of the parameters
	 that each textbox holds 
	 -->
<form action="/monopoly_Original_form/properties" method="post">
	<% while(@iterator_for_names <= @number_of_players) do %>
		<% @player_string = "Player_" + @iterator_for_names.to_s%>
		<%= @player_string %>: <input type="text" name=<%= @player_string %>><br>
		<% @player_string = "Money_" + @iterator_for_names.to_s%>
		<%= @player_string %>: <input type="text" name= <%= @player_string %>><br>
		<% @iterator_for_names = @iterator_for_names+1  %>
		<!-- Pro: <input type="submit" name="pro"><br> -->
	<% end %>
	<input type="submit" name="" value="Submit">
</form>