<div class = "container">
	<% @tabletops.each do |tabletop| %>
		<!-- Display every tabletop game available -->
				<% if tabletop.name == "MONOPOLY"%>
				<h><%= tabletop.name %></h><br>
					<% if tabletop.version == "GAMERS" %>
						<h><%= tabletop.version %></h><br>
						<form action="/monopoly_Gamers_form" method="post">
						Number of Players:  <input type="text" name="number_of_players">
						<button type="Submit" name = "" Value = "monopoly_Gamers_form" class="btn btn-outline-primary">Submit</button>
						</form>
					<% elsif tabletop.version == "Cheater's Edition" %>
						<h><%= tabletop.version %></a></h><br>
						<form action = "/monopoly_cheaters" method= "post">
						Number of Players:  <input type="text" name="number_of_players">
						<button type="Submit" name = "" Value = "monopoly_cheaters" class="btn btn-outline-primary">Submit</button>
						</form>
					<% elsif tabletop.version == "Original" %>
						<h><%= tabletop.version %></a></h><br>
						<form action = "/monopoly_original" method= "post">
						Number of Players:  <input type="text" name="number_of_players">
						<button type="Submit" name = "" Value = "monopoly_cheaters" class="btn btn-outline-primary">Submit</button>
						</form>
					<% end %>
				<% end %>
		<!-- Display .png of tabletop game -->
	<% end %>
</div>
