<style type="text/css">
	body {
	}


</style>

<div class="jumbotron" style="background-image:url('/images/LogoMakr_3qeKYo.jpg'); background-repeat: no-repeat;text-align:right;height: 450px" >
		<form action="create" method="post">
		 <h2 style="font-family:times;color:red;font-size:150%">Name: <input type="text" name="tabletop_name" ></h2><br>
		 <h2 style="font-family:times;color:red;font-size:150%">Version: <input type="text" name="tabletop_version"></h2><br>
		 <h2 style="font-family:times;color:red;font-size:150%">Max Players: <input type="text" name="tabletop_max_players"></h2><br>
		<!-- Pro: <input type="submit" name="pro"><br> -->
		<input id= "submit" type="submit" name="" value="Create" class="btn btn-outline-primary">
	</form>
</div>
