<div class = "container">
	<% @tabletops.each do |tabletop| %>
		<!-- Display every tabletop game available -->
		<h><%= tabletop.name %></h>
		<!-- Display .png of tabletop game -->
		<p><%= tabletop.version %></p>
	<% end %>
</div>